# Dependencies
**/node_modules
**/.next
**/dist
**/build

# Environment
**/.env
**/.env.local
**/.env.*.local
**/vercel.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
**/logs
**/*.log
**/npm-debug.log*

# AI / Cache
.gemini/
.vercel/
